<div class="card">

  <%#= link_to image_tag(question.image,class: :card__img ), question_path(question.id),method: :get %>
  <div class="card__title">
   <%= link_to  question_path(question.id),method: :get do%>
    <div class="card_nickname"><%= question.user.nickname %></div>
     <div class="card_tag"><i class="fa-solid fa-tag"></i><%= question.tag.name %></div>
       <div class="card_favorite">
    <i class="fa fa-heart"  style="color: red;"></i>
     <%= question.favorites.count %>
    </div>
    <div class="card_bookmark">
    <i class="fa-solid fa-book-bookmark" style="color: green"></i>
    <%= question.bookmarks.count %>
       <%= image_tag('eye.png',class: :card_eye)%><div class="card_views"><%= "#{question.impressionist_count}views" %></div>
    <div class="card_created"> <%= l question.created_at %></div>
   
  
     <div class="card_title"><%= question.title %></div>
 
    </div>
  </div>
  <%end%>
</div>