<main class="main">
  <div class="inner">
   <div class="rails_master__wrapper">
    <div class="create__box">
     <div class="create__name">
      <%= "#{l @question.created_at}  投稿" %>
      <%= link_to  @question.user.nickname + "さんの投稿", user_path(@question.user_id),method: :get, class: :detail__user %>
     </div>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? %>
        <%= render partial: 'favorites/favorite',  locals: { favorite: @favorite } %>
        <%= render partial: 'bookmarks/bookmark',  locals: { bookmark: @bookmark } %>
      <% end %>
       <% if user_signed_in? && current_user.id == @question.user_id %>
        <div class="create__edit_destroy">
           <%= link_to "編集する",  edit_question_path(@question.id),data: {"turbolinks" => false} , class: :prototype__btn %>
           <%= link_to "削除する", question_path(@question.id), method: :delete, class: :prototype__btn %>
         </div>
      
      <% end%>
      </div>
      
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
    
   
        <%#= image_tag (@prototype.image) %>
   
   <div class="content_box">
      <div class="blog__content">
       
         <div class="detail">
         <div class="tag__name">
         <%= @question.tag.name %>
         </div>
         <div class="title__set">
          
            <%= @question.title %>
          </div>
          </div>
      
        
            <%# <%= toc(@question.content) %> 
            <%= markdown(@question.content) %> 
           </div>
          
      <div class="question__comments"> 
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
      <div>
    <h4>コメント</h4>
    <div id="comments_area"><!-- #① -->
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>  
    <% if user_signed_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, question: @question } %>
    <% end %>
  </div>
     </div>
     </div>
      </div>
    </div>
  </div>
</main>
