<main class="main">
  <div class="inner">
   <div class="rails_master__wrapper">
    <div class="create__box">
     <div class="create__name">
      <%= "#{l @question.created_at}  投稿" %>
      <%= link_to  @question.user.nickname + "さんの投稿", user_path(@question.user_id),method: :get, class: :detail__user %>
     </div>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? %>
        <%= render partial: 'favorites/favorite',  locals: { favorite: @favorite } %> 
      <% end %>
       <% if user_signed_in? && current_user.id == @question.user_id %>
        <div class="create__edit_destroy">
           <%= link_to "編集する",  edit_question_path(@question.id),data: {"turbolinks" => false} , class: :prototype__btn %>
           <%= link_to "削除する", question_path(@question.id), method: :delete, class: :prototype__btn %>
         </div>
      
      <% end%>
      </div>
      
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
    
   
        <%#= image_tag (@prototype.image) %>
   
   <div class="content_box">
      <div class="blog__content">
       
         <div class="detail">
         <div class="tag__name">
         <%= @question.tag.name %>
         </div>
         <div class="title__set">
          
            <%= @question.title %>
          </div>
          </div>
      
        
            <%# <%= toc(@question.content) %> 
            <%= markdown(@question.content) %> 
           </div>
          
      <div class="question__comments"> 
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
       <div class="comment__area">
        <% if user_signed_in? %>
            <%= form_with model: [@question,@comment], id: "form",local: true do |f| %>
             <div class ="comment__font">
                <%= f.label :message, "コメントする" %><br /> 
            </div>
                <%= f.text_area :message, id: "comment_content" , class: :message__field,placeholder:"マークダウン方式でテキストを入力できます" %>
             
             <div class="actions"> 
                <%= f.submit "コメント", class: :form__btn  ,id: "submit"%>
             </div> 
            <% end %> 
         <%end%>
        <%# // ログインしているユーザーには上記を表示する %>
        <div id="list"></div>
        <div class="comment__index">コメント一覧</div>
           <ul class="comments_lists"> 
  
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
             <% @comments.each do |comment|%>
             <li class="comments_list"> 
            <%= markdown(comment.message)%>
               <%= link_to "#{comment.user.nickname}さんのコメント",  user_path(comment.user.id),method: :get, class: :comment_user %>
              <%= "#{l comment.created_at}  投稿" %>
             </li> 
                 <% end %> 
            
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
         </ul> 
         </div>
     </div>
     </div>
      </div>
    </div>
  </div>
</main>
