<main class="main">
  <div class="inner">
<div class="card">
 <div class="card__body">
 <div class="page-heading">


<div class="user__wrapper">
<% if @bookmark_questions.length == 0 %>
<%= "お気に入り登録している記事はありません" %>
<% end %>


<% @bookmark_questions.each do |question|%>
   <div class="card__title">

    <div class="card_nickname"><%= link_to  question.user.nickname , user_path(question.user_id),method: :get %></div>
     <div class="card_tag"><i class="fa-solid fa-tag"></i><%= question.tag.name %></div>
       <div class="card_favorite">
      <i class="fa fa-heart"  style="color: red;"></i>
     <%= question.favorites.count %>
    </div>
    <div class="card_bookmark">
    <i class="fa-solid fa-book-bookmark" style="color: green"></i>
    <%= question.bookmarks.count %>
       <%= image_tag('eye.png',class: :card_eye)%><div class="card_views"><%= "#{question.impressionist_count}views" %></div>
    <div class="card_created"> <%= l question.created_at %></div>
   
  
     <div class="card_title"><%=link_to question.title,question_path(question.id),method: :get %></div>
 
    </div>
  </div>




<% end %>
</div>
</div>
</div>
</div>
</div>
</div>