<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I Love Ruby on Rails!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.1/marked.js'></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/monokai-sublime.min.css">
<script src="https://kit.fontawesome.com/81d1caab83.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>

   <%= favicon_link_tag('favicon.png') %>
  </head>

  <body>
    <header class="header">
    
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
          <div class="logo-image">
            <%= link_to image_tag("logo.png", class: :logo), root_path %>
            </div>
          </div>
          <%# ログインしているときは以下を表示するようにしましょう %>
           <% if user_signed_in? %>
             <div class="nav__right"> 
              <%= link_to  new_question_path, method: :get , class: :nav__btn do %>
              <i class="fa-solid fa-blog"></i>
              <%= "投稿する" %>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete,class: :nav__btn do %>
              <i class="fa-solid fa-right-from-bracket"></i>
              <%= "ログアウト" %>
              <% end %>
             </div> 
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
          <% else %>
            <div class="nav__right">
              <%= link_to  new_user_session_path,method: :get, class: :nav__btn do %>
              <i class="fa-solid fa-right-to-bracket"></i>
              <%= "ログイン"%>
              <% end %>
              <%= link_to  new_user_registration_path,method: :get, class: :nav__btn do %>
              <i class="fa-solid fa-user-plus"></i>
              <%= "新規登録"%>
              <% end %>
            </div>
          <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
      </div>
        <div class="search-form">
  <%= form_with url: search_questions_path, method: :get, local: true do |f| %>
  
    <%= f.text_field :keyword , placeholder: "記事を検索する", class: "layouts-search-input" %>
    
    <%= f.submit "検索" , class: "layouts-search-btn"%>
  <% end %>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Rails Master All rights reserved.</p>
    </footer>
  </body>
</html>
